.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: lightsteelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 5px 0px #000000;
}

.nav {
  display: flex;
  width: 540px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
