.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

.number {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid powderblue;
  background-color: lightslategray;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 250ms linear;
}

.button:hover,
.button:focus {
  background-color: darkturquoise;
  border: 2px solid paleturquoise;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 250ms linear;
}
